/* body{
  height: 100vh;
  margin: 0%;
  padding: 3px;


 border-width: 4px;
 border-color: lightgreen;
 border-style: solid;
} */


div#root {
  /* height: 100%; */
  background-color: darkslategray;
}

.Self-WelcomeDiv{
  padding: 5px;
  

}

.Self-WelcomeTitle{
  margin:10px;
  padding: 10px;

  background-color: darkolivegreen !important ;
}



.Self-WelcomeSpacerOR{
  margin: 2px;
  padding: 2px;
  /* height: 20vh; */


  font-weight: bolder;
  font-size: 10vh;
}

.Self-WelUser-Buttons{
  font-size: 25px;
  /* border-style: ;
  border-color: ;
  border-width: ; */
}


.Self-BadAttemptMessage{
  margin: 0px 10px 10px 10px;
  padding: 5px;

  
  background-color: palevioletred;

}

.Self-GoodAttemptMessage{
  margin: 0px 10px 10px 10px;
  padding: 5px;

  
  background-color: palegreen;

}



.Self-Border-Toon{
  border-style: double !important;
}





.Self-DisplayGameMainDiv{
  width: 100%;
}



canvas {
  display: block;
}










/* .Self-PlayerCard{
  margin: 8px 0px;

  background-color: red;
    
} */


.Self-Board{
  border-color:greenyellow;

  height: auto;
  padding: 0px auto;
  margin: 0px auto;

  display: grid;
  justify-content: center;
  grid-template-columns: min-content min-content min-content min-content min-content min-content min-content;

  
}

.Self-cell-border{
  border-color: black ;
  border-style: solid;
  border-width:10px;
}



.Self-Board-Slot{
  justify-self: center;
}

.Self-ColButton{
height: 50px;
margin: 0px 1px;
background-color: cadetblue;

border-color: black;
border-style: solid;
border-width: 8px;
border-radius: 10px;

}

.Self-ArrowDown{
  padding:0px;
  margin: 5px auto;
  width:0px;
  height: 0px;
  
  border-top-color: black;
  border-top-width: 10px;
  border-top-style: solid;

  border-left-color: transparent;
  border-left-width: 7px;
  border-left-style: solid;

  border-right-color: transparent;
  border-right-width: 7px;
  border-right-style: solid;

  border-bottom-color: red ;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}

.Self-OverflowPad-300{
  padding: 0px 0px 0px 300px;
  /* margin: 0px 40px; */
}

.Self-OverflowPad-100{
  padding: 0px 0px 0px 100px;
  /* margin: 0px 40px; */
}

.Self-OverflowPad-50{
  padding: 0px 0px 0px 50px;
  /* margin: 0px 40px; */
}


.Self-OverflowPad-200{
  padding: 0px 0px 0px 200px;
  /* margin: 0px 40px; */
}




